<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
	<system.diagnostics>
		<switches>
			<add name="tracelevel"
					 value="4"/>
			<add name="wcfTraceLevel"
					 value="4"/>
		</switches>
		<trace autoflush="true"
					 indentsize="3"
					 useGlobalLock="false">
			<!--TraceListeners will write Trace info to the specified location. If using the 
          TextListener you must make sure the directory structure specified in the
          initializeData attribute exists.  if not, no trace file will be created.
          also, the proper security must be set on the folder to allow the process to write to disk.
          this would be the user account that is setup to run the .NET Process (wpw3.exe).-->
			<listeners>
				<add name="RecognizerTextListener"
						 type="System.Diagnostics.TextWriterTraceListener"
						 initializeData="c:\temp\RestfulWCFTrace.log" />
				<remove name="Default"/>
			</listeners>
		</trace>
		<sources>
			<source name="System.ServiceModel"
							switchName="wcfTraceLevel">
				<listeners>
					<add name="XmlListener"/>
				</listeners>
			</source>
			<source name="System.ServiceModel.MessageLogging">
				<listeners>
					<add name="XmlListener"/>
				</listeners>
			</source>
		</sources>
		<sharedListeners>
			<add name="XmlListener"
					 type="System.Diagnostics.XmlWriterTraceListener"
					 initializeData="C:\temp\RestfculWcfTrace.svclog"/>
		</sharedListeners>
	</system.diagnostics>
	<system.serviceModel>
		<diagnostics wmiProviderEnabled="true">
			<messageLogging logEntireMessage="true"
											logMalformedMessages="true"
											logMessagesAtServiceLevel="true"
											logMessagesAtTransportLevel="true"
											maxMessagesToLog="3000"/>
		</diagnostics>
	</system.serviceModel>
    <!--<system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="RestfulWCFTest.TestService">
                <endpoint address="" binding="basicHttpBinding" contract="RestfulWCFTest.ITestService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/RestfulWCFTest/TestService/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>-->
</configuration>